extends layout

block content
  title = "Argonaut Client Demo"
  nav(class="navbar navbar-default navbar-static-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand",href="/") Argonaut Client Demo
      div(id="navbar",class="navbar-collapse collapse")
        ul(class="nav navbar-nav navbar-right")
          if loggedIn
            li
              a(href="/settings") Settings
          li
            if loggedIn
              a(href="/logout") Logout
            else
              a(href="/login") Login
  div(class="col-sm-12 landing-panel")
    h1(class="col-sm-offset-1 col-sm-4") Welcome Isabella!
    div(class="col-sm-4 col-sm-offset-3")
      div(class="panel panel-default landing-login")
        div(class="panel-body")
          div(class='well') You don't have any health records connected.  Please
            a(href="/settings")  Connect One Now.
  <!--Marketing Content-->
  div(class="col-sm-12 marketing-block")
    div(class='well') The Argonaut Client Demo is a 3rd Party Application that allows you to see patient & medication prescription record(s) on a pre-defined set of FHIR servers.
  div(class="text-center col-md-12 footer hidden-print")
    div.row
      h6 Made by Amida Technology Solutions | Licensed under Creative Commons