doctype html
html
  head
    - var title = title || "Argonaut Client"
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js')
  body
    block content