extends layout

block content
  title = "Argonaut Client Demo"
  nav(class="navbar navbar-default navbar-static-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand",href="#") Argonaut Client Demo
      div(id="navbar",class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li
            a(href="/") Home
        ul(class="nav navbar-nav navbar-right")
          if loggedIn
            li
              a(href="/settings") Settings
          li(class="active")
            if loggedIn
              a(href="/logout") Logout
            else
              a(href="/login") Login
    div.container
      form.form-signin(name='get', action='/login', method='post')
        h2(class="form-signin-heading") Please sign in
        label(for="username", class="sr-only") Email address
        input(type="text", id="username", class="form-control", name="username", placeholder="Username", required, autofocus)
        label(for="password", class="sr-only") Password
        input(type="password", id="password", name="password", class="form-control", placeholder="Password", required)
        input(class='btn btn-primary col-sm-12', type='submit', value='Sign in')
  div(class="text-center col-md-12 footer hidden-print")
    div.row
      h6 Made by Amida Technology Solutions | Licensed under Creative Commons