extends layout

block content
  title = "Argonaut Client Demo"
  nav(class="navbar navbar-default navbar-static-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand",href="#") Argonaut Client Demo
      div(id="navbar",class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li
            a(href="/") Home
        ul(class="nav navbar-nav navbar-right")
          li(class="active")
            a(href="/settings") Settings
          li
            a(href="/logout") Logout
  div(class="col-sm-12 landing-panel")
    div.row
      h1(class="col-sm-offset-1 col-sm-11") Settings
    div.row
      div(class="col-sm-10 col-sm-offset-1")
        div(class="panel panel-default landing-login")
          div(class="panel-body")
            div.well Only One Client May Be Connected At a Time
            table(class='table')
              thead
                tr
                  th Client
                  th Status
              tbody
                each client in clients
                  tr
                    td(class="client-cell")
                      if client.name === 'SMART on FHIR'
                        img(class='logo-smart',src='images/smart_logo.png')
                      if client.name === 'DRE/FHIR (localhost:3000)'
                        img(class='logo-amida',src='images/amida-brand.png')
                      #[a(class='logo-link',href=(client.url), target='_blank') #{client.name} ]
                    td
                      if client.userExists
                        #[a(class="btn btn-success col-sm-8",href='/home') Connected: #{client.userInfo[0].resource.name[0].given[0]} #{client.userInfo[0].resource.name[0].family}]
                        #[a(class="btn btn-danger col-sm-3 col-sm-offset-1",href=('/delete?externalId=' + client.user.externalId)) Remove]
                      else
                        form(name='get', action='/', method='post')
                          input(type='hidden', name='client_id' value='#{client.credentials.client_id}')
                          if client.name === 'SMART on FHIR'
                            input(class='btn btn-primary col-sm-12 disabled',type='submit',value='Add a new SMART on FHIR Token')
                          if client.name === 'DRE/FHIR (localhost:3000)'
                            input(class='btn btn-primary col-sm-12',type='submit',value='Add a DRE User')
    div(class="text-center col-md-12 footer hidden-print")
      div.row
        h6 Made by Amida Technology Solutions | Licensed under Creative Commons