.table {
    table-layout: fixed;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo-smart {
    width: 50px;
    margin-right: 20px;
}

.logo-amida {
    width: 100px;
    margin-right: 20px;
}

.logo-link {
    color: #FFFFFF;
    font-size: 20px;
}

.panel-default {
  border-color: #ddd;
}
.client-cell, .panel-heading-custom {
  color: #333;
  background-color: #3F3F3F;
  border-color: #ddd;
  padding: 10px;
}