body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.client {
  display:table-cell;
  border: 1px solid blue;
  padding: 1em;
}

.inline {
  display:inline;
}

.clients {
  display: table;
  list-style-type: none;
  padding-right: 20px;
}

.client div {
  display:inline-block;
}

.client form {
  display:inline;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.limm {
  width:300px;
}

#json {
  border: 1px solid blue;
}

.button {
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
}